{% block content %}
{% load static %}

<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{% static 'img/imagen1.jpg' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="about-text">
                    <h2><span>What</span>  is an authorized audit?</h2>
                    <p>
                        An authorized audit is an evaluation process conducted in accordance with official standards and recognized regulatory frameworks, performed by accredited professionals. Its objective is to verify that security systems, processes, and controls comply with the requirements of legislation and industry best practices.
                    </p>
                    <p>
                        We don't just deliver a technical report. We translate the results into real business risks, with prioritized recommendations and a clear action plan to strengthen your organization's security.
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
    
            
<!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="columns">
            <div class="row mb-5">
                <div class="section-header text-center">
                    <h2>Penetration Testing</h2>
                </div>
                <p style="font-size: large; text-align: center;">
                    Penetration testing (pentesting) allows you to evaluate the true security level of
                     your systems by simulating controlled attacks like those a cybercriminal would carry out.
                     Depending on the scope and information provided, there are three main approaches: Black Box,
                     White Box, and Grey Box.</p>
                </p>
            </div>

            <div class="card row-mb-5"  style="max-height: auto; color: rgb(7, 7, 7); border-radius: 20px; background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);">
                <div class="row g-0 align-items-center feature-item">
                    <div class="col-5">
                        <img src="{% static 'img/white.png' %}" alt="white-box" style="max-height: 210px; max-width: 210px;">
                    </div>
                    <div class="col-7">
                        <h3 class="card-title">White Box Testing</h3>
                        <p class="card-text">
                            The tester will have full knowledge of the application and its expected behaviour and is much more time consuming than black-box testing. The full knowledge in a White-Box testing scenario provides a testing approach that guarantees the entire attack surface can be validated.                                    </p>
                    </div>
                </div>
            </div>
            
            <div class="card row-mb-9">
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <img src="{% static 'img/gray.png' %}" alt="gray-box">
                    </div>
                    <div class="col-7">
                        <h3>Gray Box Testing</h3>
                        <p>
                            With Grey-Box testing, the limited knowledge given saves time, and is often chosen for extremely well-hardened attack surfaces.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card row-md-5">
                <div class="row align-items-center feature-item">
                    <div class="col-5">
                        <img src="{% static 'img/black.png' %}" alt="black-box">
                    </div>
                    <div class="col-7">
                        <h3>Black Box Testing</h3>
                        <p>
                            This testing process is a high-level process where the tester is not given any information about the inner workings of the application or service.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->            
{% endblock %}